@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Raleway", sans-serif;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
}

header{
    margin-bottom: 60px;;
}

#nameTitle {
    font-size: 3rem;
    margin-bottom: 10px;
}

#proTitle {
    margin-top: 10px;
    font-size: 2rem;
}


.sectionTitle {
    font-size: 2rem;
    border: 0;
    border-bottom: 5px;
    border-style: solid;
}

.projectTitle {
    font-size: 1.5rem;
}

.project {
    display: flex;
}

.projectDescription{
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {
    .project {
        display: block;
    }

    img{
        width: 100%;
    }

}